{% extends 'base.html.twig' %}

{% block title %}Hello VilleController!{% endblock %}
{% block header %}Liste des villes{% endblock %}

{% block body %}
<div class="pagination">
{% if page > 1 %}
<a href="{{ path("readVillePage", {nb:nombre, page:1}) }}">précédent</a> |
{% endif %}
{% for i in range(1, nbPage) %}
    <a href="{{ path("readVillePage", {nb:nombre, page:i}) }}">{{i}}</a> |
{% endfor %}
{% if page < nbPage %}
<a href="{{ path("readVillePage", {nb:nombre, page:nbPage}) }}">suivant</a> |
{% endif %}
</div>
    
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for v in villes %}
        <tr>
            <td>{{v.id}}</td>
            <td>{{v.nom}}</td>
            <td><a href="{{ path("detailVille", {id: v.id})}}">Voir</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
