{% extends 'base.html.twig' %}

{% block title %}Departement index{% endblock %}

{% block body %}
    <h1>Departement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Code</th>
                <th>CreatedAt</th>
                <th>EditedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for departement in departements %}
            <tr>
                <td>{{ departement.id }}</td>
                <td>{{ departement.nom }}</td>
                <td>{{ departement.code }}</td>
                <td>{{ departement.createdAt ? departement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ departement.editedAt ? departement.editedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_departement_show', {'id': departement.id}) }}">show</a>
                    <a href="{{ path('app_departement_edit', {'id': departement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_departement_new') }}">Create new</a>
{% endblock %}
